<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <xUnit>
    <MaxParallelThreads>1</MaxParallelThreads>
  </xUnit>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
      <SlowMo>350</SlowMo>
    </LaunchOptions>
  </Playwright>
</RunSettings>
